

h1{
	text-align: center;
	font-size: 50px;
}
nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #3366FF;
	height: 30px;}
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;}
nav li {
	display: inline;
	margin-right: 40px;
}
nav li a {
	color: white;}
nav li a:hover{
	color: #000000;}
nav li a.current {
	color: #000000;}

.home, h2 {
	font-size: 50px;
	text-align: center;
	color: white;
	font-weight: normal;
	font-family: "Tinos", serif ;
}

.home, h3 {
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	color: white;
	font-family: "Tinos", serif ;
}

.home, .CU, .course, .res{
	background: #3366FF;
}

.CU {
	text-align: center;
}


.CU, h1{
	font-size: 50px;
	text-align: center;
	color: white;
	font-weight: normal;
	font-family: "Tinos", serif ;
}

.CU, h2{
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	color: white;
	font-family: "Tinos", serif ;

}

.outline{
	float: left;
}


#chart{
	float: right;
	height: 500px;
}

#C, #B {
	font-weight: bold;
	font-size: 25px;
	color: white;
	text-align: left;
}

.CC, .BC{
	text-align: left;
}

.course{
	text-align: center;
}

.course, h1{
	font-size: 50px;
	text-align: center;
	color: white;
	font-weight: normal;
	font-family: "Tinos", serif ;
}

.course, h2{
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	color: white;
	font-family: "Tinos", serif ;

}

#gender{
	float: right;
}

li{
	text-align: left;
}

#major{
	float: left;
}

#chart, #gate{
	height: 500px;
	width: 800px;
}

#barnard{
	float: left;
	color: black;
}

.res{
	text-align: center;
}

.res, h1{
	font-size: 20px;
	text-align: center;
	color: white;
	font-weight: normal;
	font-family: "Tinos", serif ;
}

#gender{
	height: 350px;
	width: 475px;
}


.
.img{
	display: inline;
}

img{
	height: 300px;
	width: 300px;
}